<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
</head>
<body>
    <h1>Contato</h1>
    <form action="" method="">
        <p>
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome">
        </p>
        <p>
            <label for="email">E-mail</label>
            <input type="text" email="nome" id="email">
        </p>
        <p>
            <label for="assunto">Assunto</label>
            <input type="text" name="assunto" id="assunto">
        </p>
        <p>
            <label for="mensagem">Mensagem</label>
            <textarea name="mensagem" id="mensagem"></textarea>
        </p>
        <button>Enviar</button>
    </form>
    <p><a href="/">Voltar para o ínicio</a></p>
</body>
</html>